# platform settings
# ADMIN_USERNAME=admin
# ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@example.com

# rabbit mq settings
RABBITMQ_DEFAULT_USER=doccano
RABBITMQ_DEFAULT_PASS=doccano

# database settings
POSTGRES_USER=doccano_db
POSTGRES_PASSWORD=doccano_db
POSTGRES_DB=doccanoPG

# Flower settings
FLOWER_BASIC_AUTH=""